Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
/Content/Maps/Themis/Idunn/Fjell_Snaer/Fjell_Snaer_01_BuiltData.uasset
/Content/Maps/Themis/Idunn/Fjell_Snaer/Fjell_Snaer_02_BuiltData.uasset
/Content/Maps/Themis/Idunn/Kenrot_Sennefer/Khenrot_Sennefer_01_BuiltData.uasset
/Content/Maps/Themis/ThemisMasterLevel_BuiltData.uasset
/Content/Maps/Themis/Idunn/Fjell_Snaer/Fjell_Snaer_Cave_1_01_BuiltData.uasset
/Content/Maps/Themis/Idunn/Fjell_Snaer/Fjell_Snaer_03_BuiltData.uasset
